In [1]:
library(httr)
library(jsonlite)
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 4.1.2"
-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.4     v dplyr   1.0.7
v tidyr   1.1.3     v stringr 1.4.0
v readr   2.0.1     v forcats 0.5.1

Warning message:
"package 'ggplot2' was built under R version 4.1.2"
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter()  masks stats::filter()
x purrr::flatten() masks jsonlite::flatten()
x dplyr::lag()     masks stats::lag()

In [2]:
url="https://api.github.com/repos/numpy/numpy/stats/contributors"
res = GET(url)

In [3]:
data = fromJSON(rawToChar(res$content))

In [4]:
names(data)

[1] "total"  "weeks"  "author"

In [5]:
print(data$total)

 [1]   56  797   20  971   15  127   25   87   96   30   29   16   33   17   24
[16]  110   18   58  134   28   18   28   25  153 1021   16   20   57  168   17
[31]   24  217   64   32   29   63   45   18   37   21   25   23 1094   50   18
[46]   79   48  159  717 2095 1472   18   49   15   24  805   72  459   19  167
[61]   16   34   20  132  127   46   21   18  246  129  100   34   16  483   81
[76]   17  179  574  134 2010   47   66  158   39   28   53   26   23   23  517
[91]   24   49   22   58   21   37   42  229

In [6]:
author<-data$author
index_data<-which(author$login=='mattip')

In [7]:
data$total[index_data]

[1] 797

In [8]:
data_weeks<-data$weeks
current_user<-data_weeks[[index_data]]

In [9]:
library(anytime)
current_user$w<-anydate(current_user$w)

Warning message:
"package 'anytime' was built under R version 4.1.2"

In [18]:
adds_per_user <- function(current_user) {
  df_adds<-current_user%>%group_by(w)%>%summarise(adds=sum(a))%>%arrange(desc(w))
  return(df_adds)
}

In [19]:
current_user

     w          a    d   c
1    2001-12-15 0    0   0
2    2001-12-22 0    0   0
3    2001-12-29 0    0   0
4    2002-01-05 0    0   0
5    2002-01-12 0    0   0
6    2002-01-19 0    0   0
7    2002-01-26 0    0   0
8    2002-02-02 0    0   0
9    2002-02-09 0    0   0
10   2002-02-16 0    0   0
11   2002-02-23 0    0   0
12   2002-03-02 0    0   0
13   2002-03-09 0    0   0
14   2002-03-16 0    0   0
15   2002-03-23 0    0   0
16   2002-03-30 0    0   0
17   2002-04-06 0    0   0
18   2002-04-13 0    0   0
19   2002-04-20 0    0   0
20   2002-04-27 0    0   0
21   2002-05-04 0    0   0
22   2002-05-11 0    0   0
23   2002-05-18 0    0   0
24   2002-05-25 0    0   0
25   2002-06-01 0    0   0
26   2002-06-08 0    0   0
27   2002-06-15 0    0   0
28   2002-06-22 0    0   0
29   2002-06-29 0    0   0
30   2002-07-06 0    0   0
...  ...        ...  ... ...
1024 2021-07-24    0   0  0
1025 2021-07-31    0   0  0
1026 2021-08-07   14   3  2
1027 2021-08-14    2   2  2
1028 2021-08-21   26   5  1
1029 2021-08-28    0   0  0
1030 2021-09-04    0   0  0
1031 2021-09-11    0   0  0
1032 2021-09-18    0   0  0
1033 2021-09-25   13  13  1
1034 2021-10-02   16  11  5
1035 2021-10-09    2   2  1
1036 2021-10-16    0   1  1
1037 2021-10-23 1469  93  4
1038 2021-10-30  536 491  6
1039 2021-11-06  100  13  2
1040 2021-11-13   92 747  3
1041 2021-11-20    0   0  0
1042 2021-11-27    8   8  4
1043 2021-12-04    0   0  0
1044 2021-12-11   57 313  1
1045 2021-12-18    2   1  1
1046 2021-12-25    0   0  0
1047 2022-01-01    3   3  1
1048 2022-01-08    0   0  0
1049 2022-01-15    3   2  1
1050 2022-01-22   91  40 11
1051 2022-01-29  190  52  5
1052 2022-02-05    1   1  1
1053 2022-02-12   25  24  5

In [12]:
deletes_per_user <- function(current_user) {
  df_deletes<-current_user%>%group_by(w)%>%summarise(deletes=sum(d))%>%arrange(desc(w))
  return(df_deletes)
}

In [13]:
deletes_per_user(current_user)

     w          deletes
1    2022-02-12  24
2    2022-02-05   1
3    2022-01-29  52
4    2022-01-22  40
5    2022-01-15   2
6    2022-01-08   0
7    2022-01-01   3
8    2021-12-25   0
9    2021-12-18   1
10   2021-12-11 313
11   2021-12-04   0
12   2021-11-27   8
13   2021-11-20   0
14   2021-11-13 747
15   2021-11-06  13
16   2021-10-30 491
17   2021-10-23  93
18   2021-10-16   1
19   2021-10-09   2
20   2021-10-02  11
21   2021-09-25  13
22   2021-09-18   0
23   2021-09-11   0
24   2021-09-04   0
25   2021-08-28   0
26   2021-08-21   5
27   2021-08-14   2
28   2021-08-07   3
29   2021-07-31   0
30   2021-07-24   0
...  ...        ...
1024 2002-07-06 0
1025 2002-06-29 0
1026 2002-06-22 0
1027 2002-06-15 0
1028 2002-06-08 0
1029 2002-06-01 0
1030 2002-05-25 0
1031 2002-05-18 0
1032 2002-05-11 0
1033 2002-05-04 0
1034 2002-04-27 0
1035 2002-04-20 0
1036 2002-04-13 0
1037 2002-04-06 0
1038 2002-03-30 0
1039 2002-03-23 0
1040 2002-03-16 0
1041 2002-03-09 0
1042 2002-03-02 0
1043 2002-02-23 0
1044 2002-02-16 0
1045 2002-02-09 0
1046 2002-02-02 0
1047 2002-01-26 0
1048 2002-01-19 0
1049 2002-01-12 0
1050 2002-01-05 0
1051 2001-12-29 0
1052 2001-12-22 0
1053 2001-12-15 0

In [22]:
commits_per_user <- function(current_user) {
  df_commits<-current_user%>%group_by(w)%>%summarise(commits=sum(c))%>%arrange(desc(w))
  return(df_commits)
}

In [23]:
commits_per_user(current_user)

     w          commits
1    2022-02-12  5
2    2022-02-05  1
3    2022-01-29  5
4    2022-01-22 11
5    2022-01-15  1
6    2022-01-08  0
7    2022-01-01  1
8    2021-12-25  0
9    2021-12-18  1
10   2021-12-11  1
11   2021-12-04  0
12   2021-11-27  4
13   2021-11-20  0
14   2021-11-13  3
15   2021-11-06  2
16   2021-10-30  6
17   2021-10-23  4
18   2021-10-16  1
19   2021-10-09  1
20   2021-10-02  5
21   2021-09-25  1
22   2021-09-18  0
23   2021-09-11  0
24   2021-09-04  0
25   2021-08-28  0
26   2021-08-21  1
27   2021-08-14  2
28   2021-08-07  2
29   2021-07-31  0
30   2021-07-24  0
...  ...        ...
1024 2002-07-06 0
1025 2002-06-29 0
1026 2002-06-22 0
1027 2002-06-15 0
1028 2002-06-08 0
1029 2002-06-01 0
1030 2002-05-25 0
1031 2002-05-18 0
1032 2002-05-11 0
1033 2002-05-04 0
1034 2002-04-27 0
1035 2002-04-20 0
1036 2002-04-13 0
1037 2002-04-06 0
1038 2002-03-30 0
1039 2002-03-23 0
1040 2002-03-16 0
1041 2002-03-09 0
1042 2002-03-02 0
1043 2002-02-23 0
1044 2002-02-16 0
1045 2002-02-09 0
1046 2002-02-02 0
1047 2002-01-26 0
1048 2002-01-19 0
1049 2002-01-12 0
1050 2002-01-05 0
1051 2001-12-29 0
1052 2001-12-22 0
1053 2001-12-15 0